In [42]:
import pandas as pd

In [43]:
from cp.CpSysDib.MarketEye import get_marketeye
from cp.CpSysDib.StockChart import get_stockchart
from cp.CpDib.StockMst import get_stockmst
from cp.CpDib.StockMstM import get_stockmstm
from cp.CpDib.StockMst2 import get_stockmst2
from cp.CpDib.StockCur import get_stockcur
from cp.CpDib.StockJpBid2 import get_stockjpbid
from cp.CpDib.StockBid import get_stockbid
from cp.CpDib.StockWeek import get_stockweek

In [9]:
r = get_stockchart(
	code = 'A003540',
	reqgb = '기간',
	start_date = '20161020',
	end_date = '20161031',
	count = 10,
	field = ['날짜', '시가', '*가', '거래량',],
	chart = '일',
	stockadj = '수정',
	extras = ['code', '*한가'] #중복정보(임의로 만들어둔 정보값) 
)

In [10]:
df = pd.DataFrame(r)

In [11]:
df

      code     거래량     고가        날짜    상한가     시가     저가     종가    하한가
0  A003540  141131  10650  20161031  22650  10600  10450  10550  12250
1  A003540   62901  10800  20161028  22650  10750  10550  10650  12250
2  A003540   77954  10750  20161027  22650  10650  10550  10700  12250
3  A003540  173509  10950  20161026  22650  10950  10550  10600  12250
4  A003540  160825  10950  20161025  22650  10900  10700  10850  12250
5  A003540   80856  10950  20161024  22650  10850  10800  10850  12250
6  A003540  209439  10900  20161021  22650  10800  10700  10850  12250
7  A003540  137679  10900  20161020  22650  10750  10650  10850  12250

In [50]:
호가 = get_marketeye(
	code='A003540', field=['현재가', 'PER', '최근분기년월', 'EPS', '결산년월', 'BPS'], 
	contract='호가비교방식'
)

ValueError: Option name mating fault: 호가비교방식

In [51]:
체결 = get_marketeye(
	code='A003540', field=['현재가', 'PER', '최근분기년월', 'EPS', '결산년월', 'BPS'], 
	contract='체결가비교방식'
)

In [46]:
호가 = pd.DataFrame(호가)

In [47]:
체결 = pd.DataFrame(체결)

In [48]:
호가

     BPS   EPS   PER    결산년월  최근분기년월    현재가
0  20045  2733  6.26  201612  201709  17100

In [49]:
체결

     BPS   EPS   PER    결산년월  최근분기년월    현재가
0  20045  2733  6.26  201612  201709  17100